
.btn-primary {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(235, 104, 126);
    border-radius:2px;
    border:none;
}

.btn-primary:hover {
    background: rgb(218,36,36);
    background: linear-gradient(90deg, rgba(218,36,36,1) 0%, rgba(231,0,0,1) 0%, rgba(237,0,144,1) 89%);}

a {
    margin-left:2em;
    text-decoration: none;
    color:white;
}

a:hover {
    color:white;
    text-decoration: underline;
}

img {
    width:50%;
}